@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800&display=swap');
*::after, *::before, *{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Golos Text', sans-serif;
}
html{
  scroll-behavior: smooth;
}
.top img{
  width: 1rem;
}